.country-details{
    @apply w-full h-full overflow-y-auto bg-white p-8;
}

.country-details::-webkit-scrollbar{
    width: 7px;
}

.country-details::-webkit-scrollbar-thumb{
    background-color: #d7d9df;
    border-radius: 5px;
}